.sc-hBEYos{
    background-image: url("https://d1w8c6s6gmwlek.cloudfront.net/someteeforyou.com/overlays/235/837/23583752.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 616px;
    
}